#pushButton {
    border-image: url(":/icon") ;
}

QGroupBox {
    padding-top: 0px;
    margin-top: 0px;
    border: 1px solid black;
}

QGroupBox::title {
    subcontrol-origin: margin;
    subcontrol-position: top center;
    padding: 0px;
    margin-top: -1px;
}
